<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <!--Tema-->
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--Icone link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Favicon emoji-->
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>">
    {% include head-custom.html %}

    <style>
      .fa:hover {
          opacity: 0.6;
      }

      .fa-linkedin {
          background: #007bb5;
          color: white;
      }

      .fa-github {
          background: #6841cb;
          color: white;
      }

      .fa-kaggle {
          background: #78cde9;
          color: white;
      }

      .fa {
        padding: 15px;
        font-size: 25px;
        width: 25px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }
      </style>
  </head>
  
  <body>
    <div class="wrapper">
      <header>
        
        <h1>{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
      
        <p>{{ site.info | default: site.github.project_tagline }}</p>

        {% if site.github.is_user_page %}
        <a target="_blank" href="https://www.linkedin.com/in/bianchi-mario/" class="fa fa-linkedin"></a>
        <a target="_blank" href="{{ site.github.owner_url }}" class="fa fa-github"></a>
        <a target="_blank" href="https://www.kaggle.com/bianchimario" class="fa fa-kaggle"></a>
        {% endif %}
      
      </header>
    
      <section>
      {{ content }}
      </section>
    
      <footer>
        
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
