<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% include head-custom.html %}

    <style>
      .fa:hover {
          opacity: 0.9;
      }

      .fa-linkedin {
          background: #007bb5;
          color: white;
      }

      .fa-github {
          background: #6841cb;
          color: white;
      }

      .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }
      </style>
  </head>
  
  <body>
    <div class="wrapper">
      <header>
        
        <h1>{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
      
        <p>{{ site.info | default: site.github.project_tagline }}</p>

        {% if site.github.is_user_page %}
        <p class="view"><a target="_blank" href="{{ site.github.owner_url }}">My GitHub Profile</a></p>
        <p class="view"><a target="_blank" href="https://www.linkedin.com/in/bianchi-mario/">My LinkedIn Profile</a></p>
        <p href="https://www.linkedin.com/in/bianchi-mario/" class="fa fa-linkedin"> target="_blank" </p>
        <p href="{{ site.github.owner_url }}" class="fa fa-github"> target="_blank" </p>
        {% endif %}
      
      </header>
    
      <section>

      {{ content }}

      </section>
    
      <footer>
        
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
